<a href="https://colab.research.google.com/github/Harshmandviya/Data-science/blob/main/Data_Science_Basics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello pepcoding")

hello pepcoding

No need to give datatype i python to assign values to variables

In [2]:
num=10

In [3]:
string="Pepcoding"

In [4]:
flt=2.2

In [5]:
print(type(string))
print(type(flt))

<class 'str'>
<class 'float'>

In [6]:
print(type(num),type(string),type(flt))

<class 'int'> <class 'str'> <class 'float'>

In [7]:
a,b,c=10,20,30

In [8]:
a=b=c=50

In [9]:
print(a,b,c)

50 50 50

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
a,b,c=10,20,50
print(a,b,c)

10 20 50

In [13]:
num1=10
num2=10+20j
num3=20+12
print(num1,num3,num2)

10 32 (10+20j)

### **String** 


**String is Immutable(cannot be changed)**

In [14]:
phrase="pepcoding"

In [15]:
print(phrase[0])

p

In [16]:
phrase[0]='i'

TypeError: ignored

**As string is immutable we cannot change the value of string once assigned**

### **`Slicing in Pyton`**

**(start:end:step)**

Here start value is included; end is excluded and step is counting

When we have positive step size it should first start then end ie. When start<end ----- STEP IS GREATER THAN 0

When start>end ------STEP IS LESS THAN 0

Default start is 0; default end is length and Default and When step is not defined default is 1

012345678

pepcoding

In [17]:
phrase[0:3]

'pep'

In [18]:
phrase[0:]

'pepcoding'

In [19]:
phrase[:]

'pepcoding'

In [20]:
phrase[:7]

'pepcodi'

In [21]:
phrase[0:6:2]

'ppo'

In [22]:
phrase[7:1:1]

''

**There was no output here as we cannot print this,here start needs to come first and end needs to come after it.Did not find anything in this input provided**

**When step size is negative it should **


**When step size is Negative it will count from backwards**
When start>end ------STEP IS LESS THAN 0

Default STEP SIZE for Negative value is -1

**For Negative Step it is (end,start,step)**

In [23]:
phrase[7:1:-1]

'nidocp'

-9-8-7-6-5-4-3-2-1

   p  e  p  c  o  d  i  n  g

**   -1 counts from behind**

In [24]:
phrase[-1]

'g'

In [25]:
phrase[-1:-5:-1]

'gnid'

**Reverse a String in python**

Here we have added the negative step size and start and end is assumed by default. (end,start,negative step) here start is default 0 and end is length as default

In [26]:
phrase[::-1]

'gnidocpep'

**Counting Length of phrase**

In [27]:
len(phrase)

9

In [28]:
phrase[-1:-9:-1]

'gnidocpe'

**For Loop in python**

Here we donot take curly brackets but we need to indent the text after for loop

In [29]:
for ch in phrase:
  print(ch)

p
e
p
c
o
d
i
n
g

Check if a particular string in present in a particular string

In [30]:
if "pep" in phrase:
  print("found pep")

found pep

Upper case and Lower case in Python

In [31]:
phrase.upper()

'PEPCODING'

In [32]:
phrase.lower()

'pepcoding'

**Spliting in Python**

In [33]:
 string="My name is Harsh Mandviya"
 str2= string.split(" ")

In [34]:
print(str2)

['My', 'name', 'is', 'Harsh', 'Mandviya']

**If- else in python**

Here we dont have curly brackets and we need to do indentation


Instead of else if, Here we have **elif**

In [35]:
if 1>2:
  print("hanji")
else:
    print("naji")

naji

In [36]:
marks=100

In [37]:
if marks>100:
  print("excellent")
elif marks>90:
  print("good")
else:
  print("Pass")

good

Loops for repeatative iterations

In [38]:
for i in range(5):
 print(i)

0
1
2
3
4

In [39]:
for i in range(2,10):
  print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [40]:
for i in range(2,10,2):
  print(i)

2
4
6
8

In [41]:
for i in range(-1,-9,-1):
  print(i)
for j in range(5,10,2):
  print(j)

-1
-2
-3
-4
-5
-6
-7
-8
5
7
9

Concatinating i in string

In [42]:
for i in range(5):
  print(i+"hello")

TypeError: ignored

Here it is showing error as i is int and hello is string so we need to convert everything into string by typecasting

In [43]:
for i in range(5):
 print(str(i)+ "hello")

0hello
1hello
2hello
3hello
4hello

**Break and Continue in Python**

In [44]:
for i in range(5):
 print(str(i)+ "hello")
 if(i==2):
  break

0hello
1hello
2hello

If i==0,1,2,4 then continue and print i and hello but if i==3 then continue outside the loop

In [45]:
for i in range(5):
  if i == 3:
    continue
  print(str(i)+ "hello")

0hello
1hello
2hello
4hello

**We should know these 4 Datatypes in Python:

List 

Tuple 

Set 

Dictionary**

### **List: [ ]**

It is Same as Array in C++

1. **Dynamically sized**-(we can add as many elements as we want whenever we want and the size need not be fixed at the start)

2. **Mutable**- element can be changed 

3. **Ordered**- Jis order meh dala wahi order meh rehta hai

4. **Not compulsory to be Homogenious** - not compulsory all elements be string or all elements be integers. variety can be present

5. **Allows Duplicacy- we can store duplicate elements in list**

6. **List is Heterogenious ie. Values can be of different datatypes**

Negative indexing

In [46]:
lst=[1,2,3,4,5]
print(type(lst))

<class 'list'>

In [47]:
lst.append(7,5,6)

TypeError: ignored

In [48]:
lst.append("harsh")

Here we can see the list is ordered and the order is not changed, the order in which we printed is same as the order we added

In [49]:
print(lst)

[1, 2, 3, 4, 5, 'harsh']

**Checking List is Mutable**

In [50]:
lst[0]=500

In [51]:
print(lst)

[500, 2, 3, 4, 5, 'harsh']

**Storing list inside list**

In [52]:
lst2 =[10,20,30]
lst2.append(lst)

In [53]:
print(lst2)

[10, 20, 30, [500, 2, 3, 4, 5, 'harsh']]

**Duplicacy as 10 is printed again as we append**

In [54]:
lst2.append(10)
print(lst2)

[10, 20, 30, [500, 2, 3, 4, 5, 'harsh'], 10]

Here we can do the same functions for list as well:

Slicing, indexing, looping, if else

In [55]:
lst[-1]

'harsh'

In [56]:
lst[0:7:2]

[500, 3, 5]

**Inserting function **

In [57]:
lst.insert(2,"pepcoding")
print(lst)

[500, 2, 'pepcoding', 3, 4, 5, 'harsh']

In [58]:
lst.remove(500)

In [59]:
print(lst)

[2, 'pepcoding', 3, 4, 5, 'harsh']

**Pop command returns the last value and prints it**

In [60]:
lst.pop()

'harsh'

In [61]:
print(lst.pop())

5

In [62]:
for i in lst:
  print(i)

2
pepcoding
3
4

### **Tuple: ( )**.  -- **Read Only Type**

1. **Immutable**: values cannot be changed, once tuple is formed it cannot be changed or appended the values

2. **Indexed**: can be accessed by tup(1)

3. **Ordered**: jis order meh dalogeh wahi order meh rahega, order change nai hota

4.** Allows Duplicacy**:duplicate values can be added, tw values can be added in one tuple

**5. Not Homogenious**: Can include different datatype values(int,string)

6. Tuples can be created without paranthesis also.

7. It is used in Matrix as the dimension of matrix is fixed and does not change, values in the matrix can be changed but matrix remains the same

In [63]:
tup=(1,2,3,"hello")

In [64]:
print(type(tup))

<class 'tuple'>

In [65]:
tup=10,20,40,"harsh"

For creating one size tuple we need to add comma after tuple otherwise it will assume it to be integer

In [66]:
tup2= 99,

In [67]:
print(type(tup2))

<class 'tuple'>

In [68]:
print(tup[0])

10

We cannot change the values of type as it Immutable so the values once fixed is fixed and cannot be changed later

In [69]:
tup[0]=11

TypeError: ignored

In [70]:
for i in tup:
  print(i)

10
20
40
harsh

**We cannot append the values in tuple as it is Immutable so values once fixed cannot be changed**

In [71]:
tup.append(5)

AttributeError: ignored

### **SETS - { }**

1. **Not Order**- Cannot reply on Order- joh apne first element dala joh first print hoke aye is not compulsory

2. **Not Indexed**- as it is not ordered then it cannot be indexed

3. **Cannot store multiple elements**

5. **Hetereogenious**- Can include different datatype values

6. **Sets are Immutable**- means we can add or remove values in sets but we cannot change the existing values in set(update), here we are not removing the values from the bucket but instead we are adding the new element in the new bucket and removing the odd one and not replacing it

7. We cannot add any value in the set which is Immutable(List cannot be added in set but tuple can be added in set)

8.No duplicacy allowed in sets

9. we can add, remove and pop in set

10. we cannot insert in set

In [72]:
st= {"Apple", "Banana", "mango"}

In [73]:
print(st)

{'Apple', 'Banana', 'mango'}

As it is not ordered so we cannot find its index as well

In [74]:
st[0]

TypeError: ignored

**Cannot store Multiple values: here banana is printed only once though we added 2 times**

st= {"Apple", "Banana", "mango","Banana"}

In [75]:
print(st)

{'Apple', 'Banana', 'mango'}

Set is Heterogeious

In [76]:
st= {"Apple", "Banana", "mango","Banana",5,10.5}

In [77]:
print(st)

{5, 10.5, 'mango', 'Apple', 'Banana'}

In [78]:
st.add("orange")

In [79]:
st.remove("Banana")

In [80]:
print(st)

{5, 10.5, 'mango', 'orange', 'Apple'}

Here we cannot store List in Set as it is Mutable ie. in list values can be changed but in sets values should not be changed

In [81]:
st={1,2,3,["Apple","orange"]}

TypeError: ignored

Here we can store Tuple inside the sets as tuples is Immutable ie. values cannot be updated

In [82]:
st={1,2,3,4,5,("harsh","Kishor","mandviya")}

In [83]:
print(st)

{1, 2, 3, 4, 5, ('harsh', 'Kishor', 'mandviya')}

In [84]:
for x in st:
  print(x)

1
2
3
4
5
('harsh', 'Kishor', 'mandviya')

pop removes one of the random values from the set and throws back to us

In [85]:
st.pop()

1

clear will clear all the values from the set and making it empty set

In [86]:
st.clear()

In [87]:
print(st)

set()

Deleting set: it will remove the entire set and delete it from the dataset and wil print st is not defined

In [88]:
del st

In [89]:
print(st)

NameError: ignored

**Union in set**

In [90]:
set1={1,2,3,4,5}
set2= {10,20,30,40}

In [91]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 40, 10, 20, 30}

### **Dictionary: { } **

Same as Json in Javascript

Same as Hashmaps in java
Stores value in **key value format**

Till now we were storing in list in index format now key value can be string,number or anything

Before Python 3.7- Oder was Not fixed-  Colab Is Unodered
After Python 3.7_Order is Fixed now- Jis order meh daloge woh order fix rahega

Python dictionary is Mutable

Unindexed -Order is not fixed

Duplicate value is possible

In [91]:
my_dict ={
    "Name": "Harsh",
    "Age":21,
    "Gender":"Male"
}

In [92]:
print(my_dict)

{'Name': 'Harsh', 'Age': 21, 'Gender': 'Male'}

In [93]:
my_dict["Height"]= 5.11

In [94]:
print(my_dict)

{'Name': 'Harsh', 'Age': 21, 'Gender': 'Male', 'Height': 5.11}

To access any value from dictionary

In [95]:
print(my_dict["Name"])

Harsh

In [96]:
my_dict["Name"]="Mehul"

In [97]:
print(my_dict)

{'Name': 'Mehul', 'Age': 21, 'Gender': 'Male', 'Height': 5.11}

In [98]:
my_dict.pop("Height")

5.11

In [99]:
my_dict["Height"]=5.5

Delete the whole dictionary and it will print that the dictionary does not exist as it is completely deleted from the memory

In [100]:
del my_dict

In [101]:
print(my_dict)

NameError: ignored

In [102]:
my_dict ={
    "Name": "Harsh",
    "Age":21,
    "Gender":"Male"
}

**For getting the values**

In [103]:
for key in my_dict.keys():
  print(key)

Name
Age
Gender

**For getting the keys from my_dict**

In [104]:
for value in my_dict.values():
  print(value)

Harsh
21
Male

**Copying dictionary into another dictionary**

In [105]:
dict2=my_dict.copy()

In [106]:
print(dict2)

{'Name': 'Harsh', 'Age': 21, 'Gender': 'Male'}

**Storing one dictionary into another dictonary**

In [107]:
dict3 ={
   "test":my_dict
}

In [108]:
print(dict3)

{'test': {'Name': 'Harsh', 'Age': 21, 'Gender': 'Male'}}

In [109]:
dict3["new"]=(1,2,3)

In [110]:
print(dict3)

{'test': {'Name': 'Harsh', 'Age': 21, 'Gender': 'Male'}, 'new': (1, 2, 3)}

Accesses value inside dictionary

In [111]:
dict3["test"]["Gender"]

'Male'

### **Try Catch/Except**

**Try**- Code joh potentially Fat sakta hai and exception raise kar sakta hai 

**Except**: joh code try meh fat sakta hai usko hum catch/except meh catch karte hai

Exception ko fatneh seh roknekeh liye hum try catch block use karte hai

Yaha agar try and catch nahi likhte toh code a/b meh fat jata and yaha apneko waise nahi chahiyeh isliye usko try catch block meh likha

In [112]:
a,b=5,0
try:
  print(a/b)
except:
  print("Division by Zero happened")

print("Hello world")

Division by Zero happened
Hello world

In [113]:
a/b

ZeroDivisionError: ignored

here ZeroDivisionError raise hua toh if ZeroDivisionError error raise hota hai print that error otherwise for all the rest of the errors print "other error happened"

In [114]:
a,b= 10,0
try:
  print(a/b)
except ZeroDivisionError:
  print("ZeroDivisionError occured")
except:
  print("Other error occured")

print("Harsh")

ZeroDivisionError occured
Harsh

**Here NameError came as the name defined is not printed so the error came**

In [115]:
a,b= 10,0
try:
  test="Hello Peter parker"
  print(standard)
except NameError:
  print("NameError Came")
except ZeroDivisionError:
  print("ZeroDivisionError occured")
except:
  print("Other error occured")

print("Harsh")

NameError Came
Harsh

**Else block works when the try block is worked well and everything in the try block is executed well**

In [116]:
a,b= 10,0
try:
  test="Hello Peter parker"
  print(test)
except NameError:
  print("NameError Came")
except ZeroDivisionError:
  print("ZeroDivisionError occured")
except:
  print("Other error occured")
else:
  print("Else block is printed")

print("Harsh")

Hello Peter parker
Else block is printed
Harsh

**Finally block is printed no matter what the condition is, it will get printed **

In [117]:
a,b= 10,0
try:
  test="Hello Peter parker"
  print(standard)
except NameError:
  print("NameError Came")
except ZeroDivisionError:
  print("ZeroDivisionError occured")
except:
  print("Other error occured")
else:
  print("Else block is printed")
finally:
  print("finally block printed")
print("Harsh")

NameError Came
finally block printed
Harsh

**Raise exception:** Hum khudseh bhi error throw kar sakte hai

In [118]:
raise Exception("List is empty")

Exception: ignored

### Function

In [119]:
def func():
  print("hello")
  return "test"

In [120]:
print(func())

hello
test

In [121]:
def func2():
  print("Whats up")
  return 100

In [122]:
print(func2())

Whats up
100

**Passing an argment in Function()**

In [123]:
def func3(x,y):
  print("hello ji")
  return x+y

In [124]:
print(func3(5,10))

hello ji
15

### **Object Oriented programing(OOPS)**

Class is a blueprint of object, in reality class is empty. It is dummy and will show what will be present in Object

Object is real thing

class is made from keyword

Class contains constructor and constructor is called first on its own for initializing the variables members in the class

First member in the class constructor is always self and it is called first

Here MyClass is te dummy class created which will show the class contains name and age. Here "init" is the constructor and "self" command needs to be called at the start 

Here we just need to write "self" in the constructor but we dont need to pass any value in the self. 

The same way we dont need to pass anything in the func(self) but we just need to add self first in the func variables

**"Self" is like This keyword of Java**

Here instead of "self" we can write any variable name

In [125]:
class MyClass:
 def __init__(self):
   self.name="Harsh"
   self.age=21

##now object is created for the class which was created earlier above

obj = MyClass()

In [126]:
print(obj.name,obj.age)

Harsh 21

**Here MyClass will not have anything, it is just a blue print of object "obj"**

In [127]:
print(MyClass.name)

AttributeError: ignored

**Now Two objects are created and value is changed in them **

In [129]:
class MyClass:
 def __init__(self):
   self.name="Harsh"
   self.age=21
  
obj=MyClass()
obj2=MyClass()

In [128]:
obj.name= "Mehul"
obj.age= 25

In [129]:
print(obj.name,obj.age)
print(obj2.name,obj2.age)

Mehul 25

NameError: ignored

Here "self" is an object. Here "self" is Non static

In [130]:
class MyClass:
 def __init__(self):
   self.name="Harsh"
   self.age=21

 def func(self,x,y):
   print(self.age)
   return x+y
  
obj=MyClass()
obj2=MyClass()

Here we just we need to add x and y value ie 20 and 30 and no need to add value for self variable as it is a dummy variable for constructor

In [131]:
val = obj.func(10,20)
print(val)

21
30

We can write also without "Self" variable and the constructor without object is called Static method and which does not need object and can be called with the help of class

'def' is used for defining the value 
"__init__" is used as a name of constructor and cannot be changed if we want to create an object."__init__ remains same throughout

In [160]:
class MyClass:
  def __init__(self):
    self.name="mehul"
    self.age=30

  def attr():
    print("test")
  
  def func2(a,b):
    return a+b
  
obj=MyClass()

In [161]:
val=MyClass.func2(2,5)
print(val)

print(MyClass.attr())

7
test
None

In [162]:
class MyClass:
  def __init__(self):
    self.name="Lala"
    self.age=1
  
  ####non Static function- Contains self and object is created 
  def func3(self,x,y):
    print(self.age)
    return x-y
  
  ###Static function without object-does not contain self
  def func4(c,d):
    return c+d
obj4=MyClass()

In [163]:
val=obj4.func3(10,5)
print(val)

val2=MyClass.func4(10,5)
print(val2)

1
5
15

**Inheritance **

Here inside employee class there is no need to write name and idname again so we inherit personal class

Here Person is a "parent" class and "employee" is a child class

In [166]:
class Person:
  def __init__(self,name,idname):
    self.name=name
    self.idname=idname
    print("In person class")

  def hii(self):
    print("My name is ",self.name)

##Inherit qualities of Person to Employee classs

class Employee(Person):
  def __init__(self,name,idname,salary, post):
    self.salary=salary
    self.post=post
    print("In employee class")

##name andd idname person class ko nahi mila hai abh tak so to do it we do 

    Person.__init__(self,name,idname)
class President(Person):
  def __init__(self,name,idname,country, age):
    self.country=scountry
    self.age=age
    print("In President class")

In [168]:
obj=Person("Harsh",786)
obj.hii()

In person class
My name is  Harsh

In [169]:
obj2= Employee("Mehul",900,100000,"Intern")

In employee class
In person class

In [170]:

obj2.hii()

My name is  Mehul