<a href="https://colab.research.google.com/github/Harshmandviya/Data-science/blob/main/Data_Science_Basics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello pepcoding")

hello pepcoding

No need to give datatype i python to assign values to variables

In [2]:
num=10

In [3]:
string="Pepcoding"

In [4]:
flt=2.2

In [5]:
print(type(string))
print(type(flt))

<class 'str'>
<class 'float'>

In [6]:
print(type(num),type(string),type(flt))

<class 'int'> <class 'str'> <class 'float'>

In [7]:
a,b,c=10,20,30

In [8]:
a=b=c=50

In [9]:
print(a,b,c)

50 50 50

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
a,b,c=10,20,50
print(a,b,c)

10 20 50

In [13]:
num1=10
num2=10+20j
num3=20+12
print(num1,num3,num2)

10 32 (10+20j)

**String** 


**String is Immutable(cannot be changed)**

In [14]:
phrase="pepcoding"

In [15]:
print(phrase[0])

p

In [16]:
phrase[0]='i'

TypeError: ignored

**As string is immutable we cannot change the value of string once assigned**

**`Slicing in Pyton`**

**(start:end:step)**

Here start value is included; end is excluded and step is counting

When we have positive step size it should first start then end ie. When start<end ----- STEP IS GREATER THAN 0

When start>end ------STEP IS LESS THAN 0

Default start is 0; default end is length and Default and When step is not defined default is 1

012345678

pepcoding

In [17]:
phrase[0:3]

'pep'

In [18]:
phrase[0:]

'pepcoding'

In [19]:
phrase[:]

'pepcoding'

In [20]:
phrase[:7]

'pepcodi'

In [21]:
phrase[0:6:2]

'ppo'

In [22]:
phrase[7:1:1]

''

**There was no output here as we cannot print this,here start needs to come first and end needs to come after it.Did not find anything in this input provided**

**When step size is negative it should **


**When step size is Negative it will count from backwards**
When start>end ------STEP IS LESS THAN 0

Default STEP SIZE for Negative value is -1

**For Negative Step it is (end,start,step)**

In [23]:
phrase[7:1:-1]

'nidocp'

-9-8-7-6-5-4-3-2-1

   p  e  p  c  o  d  i  n  g

**   -1 counts from behind**

In [24]:
phrase[-1]

'g'

In [25]:
phrase[-1:-5:-1]

'gnid'

**Reverse a String in python**

Here we have added the negative step size and start and end is assumed by default. (end,start,negative step) here start is default 0 and end is length as default

In [26]:
phrase[::-1]

'gnidocpep'

**Counting Length of phrase**

In [27]:
len(phrase)

9

In [28]:
phrase[-1:-9:-1]

'gnidocpe'

**For Loop in python**

Here we donot take curly brackets but we need to indent the text after for loop

In [29]:
for ch in phrase:
  print(ch)

p
e
p
c
o
d
i
n
g

Check if a particular string in present in a particular string

In [30]:
if "pep" in phrase:
  print("found pep")

found pep

Upper case and Lower case in Python

In [31]:
phrase.upper()

'PEPCODING'

In [32]:
phrase.lower()

'pepcoding'

Spliting in Python

In [33]:
 string="My name is Harsh Mandviya"
 str2= string.split(" ")

In [34]:
print(str2)

['My', 'name', 'is', 'Harsh', 'Mandviya']

**If- else in python**

Here we dont have curly brackets and we need to do indentation


Instead of else if, Here we have **elif**

In [35]:
if 1>2:
  print("hanji")
else:
    print("naji")

naji

In [36]:
marks=100

In [ ]:
if marks>100:
  print("excellent")
elif marks>90:
  print("good")
else:
  print("Pass")

good

Loops for repeatative iterations

In [37]:
for i in range(5):
 print(i)

0
1
2
3
4

In [38]:
for i in range(2,10):
  print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [39]:
for i in range(2,10,2):
  print(i)

2
4
6
8

In [40]:
for i in range(-1,-9,-1):
  print(i)
for j in range(5,10,2):
  print(j)

-1
-2
-3
-4
-5
-6
-7
-8
5
7
9

Concatinating i in string

In [41]:
for i in range(5):
  print(i+"hello")

TypeError: ignored

Here it is showing error as i is int and hello is string so we need to convert everything into string by typecasting

In [42]:
for i in range(5):
 print(str(i)+ "hello")

0hello
1hello
2hello
3hello
4hello

**Break and Continue in Python**

In [43]:
for i in range(5):
 print(str(i)+ "hello")
 if(i==2):
  break

0hello
1hello
2hello

If i==0,1,2,4 then continue and print i and hello but if i==3 then continue outside the loop

In [44]:
for i in range(5):
  if i == 3:
    continue
  print(str(i)+ "hello")

0hello
1hello
2hello
4hello

**We should know these 4 Datatypes in Python:

List 

Tuple 

Set 

Dictionary**

**List: [ ]**

It is Same as Array in C++

1. **Dynamically sized**-(we can add as many elements as we want whenever we want and the size need not be fixed at the start)

2. **Mutable**- element can be changed 

3. **Ordered**- Jis order meh dala wahi order meh rehta hai

4. **Not compulsory to be Homogenious** - not compulsory all elements be string or all elements be integers. variety can be present

5. **Allows Duplicacy- we can store duplicate elements in list**

6. **List is Heterogenious ie. Values can be of different datatypes**

Negative indexing

In [45]:
lst=[1,2,3,4,5]
print(type(lst))

<class 'list'>

In [46]:
lst.append(7,5,6)

TypeError: ignored

In [47]:
lst.append("harsh")

Here we can see the list is ordered and the order is not changed, the order in which we printed is same as the order we added

In [48]:
print(lst)

[1, 2, 3, 4, 5, 'harsh']

**Checking List is Mutable**

In [49]:
lst[0]=500

In [50]:
print(lst)

[500, 2, 3, 4, 5, 'harsh']

**Storing list inside list**

In [51]:
lst2 =[10,20,30]
lst2.append(lst)

In [52]:
print(lst2)

[10, 20, 30, [500, 2, 3, 4, 5, 'harsh']]

**Duplicacy as 10 is printed again as we append**

In [53]:
lst2.append(10)
print(lst2)

[10, 20, 30, [500, 2, 3, 4, 5, 'harsh'], 10]

Here we can do the same functions for list as well:

Slicing, indexing, looping, if else

In [54]:
lst[-1]

'harsh'

In [55]:
lst[0:7:2]

[500, 3, 5]

**Inserting function **

In [56]:
lst.insert(2,"pepcoding")
print(lst)

[500, 2, 'pepcoding', 3, 4, 5, 'harsh']

In [57]:
lst.remove(500)

In [58]:
print(lst)

[2, 'pepcoding', 3, 4, 5, 'harsh']

**Pop command returns the last value and prints it**

In [59]:
lst.pop()

'harsh'

In [76]:
print(lst.pop())

4

In [77]:
for i in lst:
  print(i)

2
pepcoding
3

**Tuple: ( )**.  -- **Read Only Type**

1. **Immutable**: values cannot be changed, once tuple is formed it cannot be changed or appended the values

2. **Indexed**: can be accessed by tup(1)

3. **Ordered**: jis order meh dalogeh wahi order meh rahega, order change nai hota

4.** Allows Duplicacy**:duplicate values can be added, tw values can be added in one tuple

**5. Not Homogenious**: Can include different datatype values(int,string)

6. Tuples can be created without paranthesis also.

7. It is used in Matrix as the dimension of matrix is fixed and does not change, values in the matrix can be changed but matrix remains the same

In [65]:
tup=(1,2,3,"hello")

In [66]:
print(type(tup))

<class 'tuple'>

In [67]:
tup=10,20,40,"harsh"

For creating one size tuple we need to add comma after tuple otherwise it will assume it to be integer

In [70]:
tup2= 99,

In [71]:
print(type(tup2))

<class 'tuple'>

In [72]:
print(tup[0])

10

We cannot change the values of type as it Immutable so the values once fixed is fixed and cannot be changed later

In [73]:
tup[0]=11

TypeError: ignored

In [74]:
for i in tup:
  print(i)

10
20
40
harsh

**We cannot append the values in tuple as it is Immutable so values once fixed cannot be changed**

In [75]:
tup.append(5)

AttributeError: ignored

**SETS - { }**

1. **Not Order**- Cannot reply on Order- joh apne first element dala joh first print hoke aye is not compulsory

2. **Not Indexed**- as it is not ordered then it cannot be indexed

3. **Cannot store multiple elements**

5. **Hetereogenious**- Can include different datatype values

6. **Sets are Immutable**- means we can add or remove values in sets but we cannot change the existing values in set(update), here we are not removing the values from the bucket but instead we are adding the new element in the new bucket and removing the odd one and not replacing it

7. We cannot add any value in the set which is Immutable(List cannot be added in set but tuple can be added in set)

8.No duplicacy allowed in sets

9. we can add, remove and pop in set

10. we cannot insert in set

In [78]:
st= {"Apple", "Banana", "mango"}

In [79]:
print(st)

{'Banana', 'Apple', 'mango'}

As it is not ordered so we cannot find its index as well

In [82]:
st[0]

TypeError: ignored

**Cannot store Multiple values: here banana is printed only once though we added 2 times**

st= {"Apple", "Banana", "mango","Banana"}

In [83]:
print(st)

{'Banana', 'Apple', 'mango'}

Set is Heterogeious

In [84]:
st= {"Apple", "Banana", "mango","Banana",5,10.5}

In [85]:
print(st)

{5, 'Apple', 10.5, 'mango', 'Banana'}

In [86]:
st.add("orange")

In [87]:
st.remove("Banana")

In [88]:
print(st)

{5, 'Apple', 10.5, 'mango', 'orange'}

Here we cannot store List in Set as it is Mutable ie. in list values can be changed but in sets values should not be changed

In [91]:
st={1,2,3,["Apple","orange"]}

TypeError: ignored

Here we can store Tuple inside the sets as tuples is Immutable ie. values cannot be updated

In [92]:
st={1,2,3,4,5,("harsh","Kishor","mandviya")}

In [93]:
print(st)

{1, 2, 3, 4, 5, ('harsh', 'Kishor', 'mandviya')}

In [94]:
for x in st:
  print(x)

1
2
3
4
5
('harsh', 'Kishor', 'mandviya')

pop removes one of the random values from the set and throws back to us

In [97]:
st.pop()

1

clear will clear all the values from the set and making it empty set

In [100]:
st.clear()

In [101]:
print(st)

set()

Deleting set: it will remove the entire set and delete it from the dataset and wil print st is not defined

In [103]:
del st

In [104]:
print(st)

NameError: ignored

**Union in set**

In [105]:
set1={1,2,3,4,5}
set2= {10,20,30,40}

In [106]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 40, 10, 20, 30}